.output{
  padding: ( $size-large*2 +$size-small ) $reset;
  .output__item{
  	width: 33%;
  	img{
  		width: 100%;
  		height: auto;
  	}
  	@media  ( max-width:480px ) {
  		width: 100%;
  	}
  }
}
