//variables
$iplayerpink: #f54997;
$size-small: 8px;
$size-large: 16px;
$reset: 0;

@import "output";
@import "button";

*{
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
  color: #fff;
  background-color: #000;
  text-align: center;
	font-family: Helvetica neue,Arial,sans-serif;
}

ul {
	margin:$size-large $reset $reset;
	padding-right: $reset;
	padding-left: $reset;
	list-style-type: none;
	text-align: left;
}

li{
	display: inline-block;
	padding: $reset ($size-large) ($size-small) 0;
	vertical-align: top;
}

h2 {
		font-size: 2rem;
		margin: $size-small $reset;
}

a {
		display: block;
		background-color: #d72b26;
		padding: $size-large;
}

a:hover {
	text-decoration: none;
	background-color: #b01e1a;
}

figcaption{
	margin: $size-small $reset;
}

.spinner{
	background-image: url("/img/ajax-loader.gif");
	background-size: 52px 52px;
	background-position: top center;
	background-repeat: no-repeat;
}
